$('.challenge-instructions #post_block_#{@post.id}').replaceWith ("#{j render partial: 'posts/post', object: @post}")
$('#post_block_#{@post.id}').effect('highlight', {color: 'rgba(235, 38, 41, 0.65)', duration: 1000, easing: 'easeOutCubic'});