.hidden
  display: none
.unhidden
  display: block
.invisible
  visibility: hidden
.uninvisible
  visibility: visible
//colors:
$ruby: rgba(235, 38, 41, 0.65)
$brown: #4a473a
$gray: #c0beb4
$opacity_hover: 0.5
div#challenge
  overflow-y: scroll
section#challenge-objective
  $font_size_post: 13px
  $height_one_line: calc(#{$font_size_post} + 0.3em)
  $margin_bottom_post: 5px
  header
    padding-bottom: 1px !important
  .challenge-instructions
    padding-bottom: 40px
    .post_block
      cursor: pointer
      position: relative
      .post_hover
        position: absolute
        top: 0
        bottom: 0
        width: 100%
      .post_hover:hover
        background-color: $ruby
        opacity: $opacity_hover
      .post
        margin: 0 auto
        margin-bottom: $margin_bottom_post
        width: 95%
        .post_subject, .post_content, .post_time
          height: $height_one_line
          font-size: $font_size_post
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
        .post_subject
          color: black
  footer
    position: fixed !important
    background-image: url('bg-body-01.png')
section#challenge-panels
  $heigth0_input_post_subject: 15px
  $delta_heigth_input_post_subject: 4px
  $heigth_input_post_subject: $heigth0_input_post_subject + $delta_heigth_input_post_subject
  $padding_top_form_current1_post: 1px
  $padding_right_form_current1_post: 21px
  $padding_bottom_form_current1_post: 21px
  $padding_top_form_block_textarea: $delta_heigth_input_post_subject + 3px
  $margin_form_current1_post: 20px - $delta_heigth_input_post_subject
  $right_form_block: 10px
  $height_form_submit: 23px
  @mixin buttons
    background-color: $brown
    cursor: default
    &:hover
      opacity: $opacity_hover
  position: fixed !important
  #editor-group
    #form_block
      position: absolute
      z-index: 6
      left: 10px
      right: $right_form_block
      top: 10px
      bottom: 215px
      form#current1_post
        margin: $margin_form_current1_post $margin_form_current1_post 0
        padding: $padding_top_form_current1_post $padding_right_form_current1_post $padding_bottom_form_current1_post 21px
        height: calc(100% - #{$margin_form_current1_post} - #{$padding_bottom_form_current1_post})
        position: absolute
        right: #{-$margin_form_current1_post - $padding_right_form_current1_post}
        left: 0px
        input#post_subject, #form_block_textarea textarea#post_content
          color: $brown
          outline: none
          border-style: none
          width: 100%
        input#post_subject
          border: none
          height: $heigth_input_post_subject
          font-family: monospace
          font-size: 13px
        #form_block_textarea
          padding-top: $padding_top_form_block_textarea
          height: calc(100% - #{$delta_heigth_input_post_subject})
          textarea#post_content
            resize: none
            height: 100%
            width: calc(100% - 5px)
        #footer_form
          margin-right: 20px
          #form_block_submit, #form_block_new_post
            float: right
          #alert_block, #form_block_submit button#submit_current1_post
            width: 100%
            font-family: Palatino, "Palatino Linotype", Georgia, serif
          #alert_block
            font-size: 195%
            margin-top: 10px
            text-align: right
          #form_navigation
            margin-top: 7px
            #form_block_submit
              text-align: center
              width: 130px
              #dropdown_triangle, button#submit_current1_post
                height: $height_form_submit
                color:  $gray
              #dropdown_triangle
                font-size: 14px
                width: 21px
                top: 16px
                line-height: 25px
                cursor: default
                float: right
                top: -23px
                position: relative
                text-align: center
              #dropdown_triangle:hover
                color: #ffffff
              #dropdown_triangle:focus
                outline: none
              button#submit_current1_post
                background-color: $brown
                //background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#4a473a), to(#b7b4a8))
                border: 0 none
                font-size: 175%
                color: $gray
              button#submit_current1_post.round
                border-radius: 10px
              button#submit_current1_post.unround
                border-radius: 10px 10px 0 0
              button#submit_current1_post:focus
                outline: none
                box-shadow: 2px -2px 10px $ruby
              button#submit_current1_post:hover
                opacity: $opacity_hover
              #save_list
                color: $gray
                font-size: 12px
                font-size: 13px
                line-height: 18px
                border: 1px solid $gray
                border-radius: 0 0 7px 19px
                .save_list_point
                  @include buttons
                .save_list_point:last-child
                  border-radius:  0 0 6px 18px
            #form_block_new_post
              @include buttons
              width: $height_form_submit
              height: $height_form_submit
              margin-right: 9px
              border-radius: 7px
              cursor: default
              color: $gray
              background-color: $brown
              p
                font-size: 40px
                line-height: $height_form_submit
                font-weight: 900
                overflow-y: hidden
    footer
      padding: 0px
      #footer_hedgehog
        background-image: url("bg-header-d9.png")
        background-size: 100% 94%
        background-repeat: no-repeat
        height: 100%
        width: 80%
        margin-left: 130px
        margin-top: 10px