section#challenge-objective
  header
    padding-bottom: 1px !important
section#challenge-panels
  $heigth0_input_post_subject: 15px
  $delta_heigth_input_post_subject: 4px
  $heigth_input_post_subject: $heigth0_input_post_subject + $delta_heigth_input_post_subject
  $padding_top_form_new_post: 1px
  $padding_right_form_new_post: 21px
  $padding_bottom_form_new_post: 21px
  $padding_top_form_block_textarea: $delta_heigth_input_post_subject + 3px
  $margin_form_new_post: 20px - $delta_heigth_input_post_subject
  $right_form_block: 10px
  #editor-group
    #form_block
      position: absolute
      z-index: 6
      left: 10px
      right: $right_form_block
      top: 10px
      bottom: 215px
      form#new_post
        margin: $margin_form_new_post $margin_form_new_post 0
        padding: $padding_top_form_new_post $padding_right_form_new_post $padding_bottom_form_new_post 21px
        height: calc(100% - #{$margin_form_new_post} - #{$padding_bottom_form_new_post})
        position: absolute
        right: #{-$margin_form_new_post - $padding_right_form_new_post}
        left: 0px
        input#post_subject, #form_block_textarea textarea#post_content
          color: #4a473a
          outline: none
          border-style: none
          width: 100%
        input#post_subject
          border: none
          height: $heigth_input_post_subject
          font-family: monospace
          font-size: 13px
        #form_block_textarea
          padding-top: $padding_top_form_block_textarea
          height: calc(100% - #{$delta_heigth_input_post_subject})
          textarea#post_content
            resize: none
            height: 100%
        #form_block_submit
          margin-top: 20px
          text-align: right
          margin-right: 20px
          input[type='submit']
            background-color: #4a473a
            //background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#4a473a), to(#b7b4a8))
            color:  #c0beb4
            border: 0 none
            width: 130px
            height: 23px
            font-family: Palatino, "Palatino Linotype", Georgia, serif
            font-size: 175%
            border-radius: 10px
          input[type='submit']:focus
            outline: none
            box-shadow: 2px -2px 10px rgba(235, 38, 41, 0.65)
          input[type='submit']:hover
            opacity: 0.6
    footer
      padding: 0px
      #footer_hedgehog
        background-image: url("bg-header-d9.png")
        background-size: 100% 94%
        background-repeat: no-repeat
        height: 100%
        width: 80%
        margin-left: 130px
        margin-top: 10px